body {
  margin: 0;
  padding: 10px 200px;
  color: black;
}

header {
  text-align: center;
  font-family: Monoton;
}

#refToWiki {
  text-align: center;
  font-size: 16px;
  font-family: fantasy;
  margin-bottom: 30px;
}
#refToWiki a {
  color: darkorange;
}

table {
  width: 100%;
  border: 1px solid black;
  font-size: 20px;
  background: #eee;
  font-family: serif;
}

td {
  text-align: left;
}
td:nth-child(1) {
  width: 30%;
}
td:nth-child(2), td:nth-child(3) {
  width: 15%;
}

#task {
  margin: 20px 0px 20px 0px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: #f0f;
}

.doors {
  margin: 0px auto;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;;
  
  background: #ff7;
}
.door {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 200px;
  font-size: 30px;
  border-radius: 10px;
  perspective: 1000px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
}

.door:hover .back {
}
.door:hover .front {
}

.back {
  background: #1af;
  pointer-events: auto;
}

.front {
  background: #ccc;
}

#change {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-size: 30px;
  font-family: Audiowide;
}

#changeButtons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

button {
  width: 200px;
  height: 50px;
  margin: 5px 20px;
  border: 2px dotted black;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

#noBtn {
  background: #b00;
}
#noBtn:active {
  background: #f00;
}
#yesBtn {
  background: green;
}
#yesBtn:active {
  background: #0f0;
}

.hide {
  visibility: hidden;
}

footer {
  margin-top: 100px;
  color: black;
  text-align: right;
  font-family: sans-serif;
}
#copyright a {
  padding: 0 2px;
  font-family: Audiowide;
  color: black;
  text-decoration: none;
  transition: 1.5s;
}
#copyright a:hover {
  letter-spacing: 2px;
  color: #0c30e0;
  text-decoration: none;
  transition: 1s;
}